.landing {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  padding: 30px 40px 50px;
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url('../../img/quizz.jpeg');
  background-size: 500px 300px;
  background-position: center;
}

.landing:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.landing__content {
  position: relative;
  z-index: 3;
  text-shadow: 1px 1px 1px rgba(38, 33, 43, 0.8);
  text-align: center;
}

.landing__title {
  margin: 0;
  padding: 0;
  font-size: 70px;
}

.landing__text {
  font-size: 38px;
}

.landing__rules {
  margin: 0;
  font-size: 54px;
}

.landing__list {
  margin: 30px auto 50px;
  justify-content: center;
  width: fit-content;
  text-align: left;
  font-size: 30px;
}

.landing__item {
  font-size: 40px;
}

@media screen and (max-width: 1100px) {
  .landing {
    height: 100%;
  }
}

@media screen and (max-width: 610px) {
  .landing__title {
    font-size: 50px;
  }

  .landing__text {
    font-size: 28px;
  }

  .landing__rules {
    font-size: 38px;
  }

  .landing__list {
    margin: 20px auto 30px;
  }

  .landing__item {
    font-size: 28px;
  }
}
